.d_flex{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.logout{
    color: white;
    background-color: rgb(221, 221, 221);
    width: 200px;
}
.next{
    width: 200px;

    color: white;
    background-color: #fd625f;
}