* {
   box-sizing: border-box;
}
.main_container {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.container {
   width: 770px;
   height: 100%;
   margin-top: 40px;
   margin-left: 170px;
}
.contactH1 h1 {
   font-size: 36px;
   padding: 0;
   margin: 0;
}
.Ltsbz {
   color: rgb(30, 32, 33);
   display: inline-block;
   font-size: 24px;
   line-height: 32px;
   font-weight: 500;
}
.Ltstext {
   color: rgb(150, 155, 158);
   font-size: 12px;
   line-height: 24px;
}
.pAndInput {
   margin: 0;
}
.pAndInput input {
   width: 600px;
   color: hsl(200, 5%, 12%);
   height: 45px;
   padding: 16.5px 18.5px 12.5px 18.5px;
   z-index: 1;
   outline: none;
}
.pAndInput input:focus {
   border: #6cacd7 solid 1px;
   border-radius: 3px;
}
.d_flex {
   width: 600px;
   display: flex;
   justify-content: space-between;
}
.city input {
   padding: 16.5px 18.5px 12.5px 18.5px;
   width: 250px;
   color: hsl(200, 5%, 12%);
   height: 45px;
   outline: none;
}
.city input:focus {
   border: #6cacd7 solid 1px;
   border-radius: 3px;
}
.city p {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 5px;
   font-weight: 700;
}
.pAndInput p {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 5px;
   font-weight: 700;
}
.state input {
   padding: 16.5px 18.5px 12.5px 18.5px;
   width: 150px;
   color: hsl(200, 5%, 12%);
   height: 45px;
   outline: none;
}
.state input:focus {
   border: #6cacd7 solid 1px;
   border-radius: 3px;
}
.state p {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 5px;
   font-weight: 700;
}
.Zipcode input {
   padding: 16.5px 18.5px 12.5px 18.5px;
   width: 180px;
   color: hsl(200, 5%, 12%);
   height: 45px;
   outline: none;
}
.Zipcode input:focus {
   border: #6cacd7 solid 1px;
   border-radius: 3px;
}
.Zipcode p {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 5px;
   font-weight: 700;
}
.email input {
   padding: 16.5px 18.5px 12.5px 18.5px;
   width: 330px;
   color: hsl(200, 5%, 12%);
   height: 45px;
   outline: none;
}
.email input:focus {
   border: #6cacd7 solid 1px;
   border-radius: 3px;
}
.email p {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 5px;
   font-weight: 700;
}

.phone input {
   padding: 16.5px 18.5px 12.5px 18.5px;
   width: 258px;
   color: hsl(200, 5%, 12%);
   height: 45px;
   outline: none;
}
.phone input:focus {
   border: #6cacd7 solid 1px;
   border-radius: 3px;
}
.phone p {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 5px;
   font-weight: 700;
}
.buttons {
   border-top: rgb(129, 129, 129) solid 2px;
   position: fixed;
   top: 640px;
   background-color: rgb(255, 255, 255);
   padding-top: 10px;
   width: 600px;
   display: flex;
   justify-content: space-between;
}
.logout {
   border-radius: 2px;
   border: none;
   color: rgb(57, 57, 57);
   background-color: rgb(192, 191, 191);
   width: 200px;
   height: 45px;
   cursor: pointer;
}
.logout:hover {
   background-color: rgb(160, 160, 160);
}
.next {
   border-radius: 2px;
   height: 45px;
   border: none;
   width: 200px;
   color: white;
   background-color: #ff514f;
   cursor: pointer;
}
.logout p {
   font-size: small;
   font-weight: 900;
}
.next p {
   font-size: small;
   font-weight: 900;
}
.next:hover {
   background-color: #fd6f6c;
}
.document_contaner{
	width: 700px;
	background-color: #e2e2e2;
	border-left: #b9b9b9 solid 10px;
	border-right: #b9b9b9 solid 10px;
	padding: 60px 0 40px 0;
}