* {
	box-sizing: border-box;
}
.document_contaner{
	width: 750px;
	background-color: #e2e2e2;
	border-left: #b9b9b9 solid 10px;
	border-right: #b9b9b9 solid 10px;
	padding: 60px 0 40px 0;
}
.main_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.container {
	padding-top: 40px;
	width: 600px;
	color: #333;
}
.finish_main_text{
    display: flex;
    justify-content: center;
}
.finish_styled{
    margin: 0 auto;
    width: 400px;
}
.finish_main_text h1 {
	font-size: 36px;
	padding: 0;
	margin: 0;
}
.download{
    
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
}
.download span{
    height: 40px;
    font-size: 16px;
    min-width: 220px;
    font-weight: 500;
    letter-spacing: 1.45px;
}
.download button{
    color: white;
    width: 300px;
    height: 40px;
    background-color: #ff3a37;
    border-radius: 30px;
    border: none;cursor: pointer;
}
.download button:hover{
    background-color: #ff6b69;
}
.resume_sections{
    margin-top: 50px;
    border-top: #b0b2b4 solid 2px;
}
.resume_sections_text{
    padding-top: 45px;
    padding-bottom: 20px;
}
.resume_sections_text span{
    color: #9ea4a8;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.45px;
}
.all_project_pages{
    display: flex;
    box-sizing: border-box;
    box-shadow: rgb(231 235 238) 0px 3px 8px 0px, rgb(181 186 189) 0px 1px 4px 0px;
    align-items: center;
    padding: 8px 4px 8px 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    min-height: 60px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    margin: 8px 0px;
}
.all_project_pages:hover{
    box-shadow: rgb(231 235 238) 0px 1px 2px 0px, rgb(181 186 189) 0px 1px 1px 0px;

}
.sections{
    display: flex;
}
.sections span{
    padding-top: 4px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 600;
}
.a{
    position: absolute;
    top: 50%;
}
/*  */
.button {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #ff3a37;
   }
   
   .button span {
       padding-left: 50px;
    transition: 200ms;
   }
   
   .button .text {
    
    font-size: 20px;
    transform: translateX(35px);
    color: white;
    font-weight: 500;
   }
   
   .button .icon {
    padding-left: 220px;
    position: absolute;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .button img {
    width: 35px;
    fill: #eee;
   }
   
   .button:hover {
    background: #fd524f;
   }
   
   .button:hover .text {
    color: transparent;
   }
   
   .button:hover .icon {
       padding-left: 180px;
    border-left: none;
    transform: translateX(0);
   }
   
   .button:focus {
    outline: none;
   }
   
   .button:active .icon img {
    transform: scale(0.8);
   }